# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/
.vscode/
.idea/

# Test Results
TestResults/
[Tt]est[Rr]esult*/
*.trx
*.coverage

# User-specific files
*.user
*.userosscache
*.sln.docstates

# Temp project folders
project*/
!ProjectManager*/

# Python
__pycache__/
*.py[cod]
*$py.class
